#rd{border-radius: 10px;background-color: rgb(255, 0, 0);font-size: 30px;margin-left:50px;}
#rd:hover{border-radius: 10px;background-color: rgb(0, 247, 255);font-size: 30px;}
#rd:active{border-radius: 10px;background-color: rgb(50, 250, 0);}
#rd:visited{border-radius: 10px;background-color: rgb(195, 0, 255);font-size: 30px;}
/* Ví dụ về hover và nth-child()
ul{
    font-size: larger;
    background-color: black;
    color: blueviolet;
    border: 3px solid red;
    border-radius: 20px;
    padding:40px
}
li:hover{
=> Còn 1 thuộc tính đối của hover là "not(:hover)" => ví dụ: li:not(:hover)
    background-color: aqua;
    color:brown;
    font-size: 40px;
}
li:nth-child(3n){  => Chọn phần tử con của li thỏa yêu cầu ()
    background-color: red;
    color: azure;
}
li:nth-child(3n-1):hover{
    background-color: rgb(0, 189, 126);
    color: rgb(255, 255, 255);
}
li:nth-child(3n-1){
    background-color: rgb(197, 231, 0);
    color: rgb(15, 209, 209);
}
li:nth-child(3n):hover{
    background-color: rgba(235, 0, 195, 0.336);
    color: rgb(15, 209, 209);
}
*/
#title{
    text-align: center;
}
.page a.tc{
    background-color: rgba(0, 255, 242, 0.507);
    color: rgb(0, 0, 0);
    font-size: xx-large;    
}
.page{
    text-align: center;
}
.page a{
    background-color: rgba(1, 90, 28, 0.473);
    color: rgb(190, 186, 186);
    font-size: xx-large;
    text-decoration: none;/* Gạch chân văn bản */
    padding: 8px 15px;
    border-radius: 10px;
    margin:3px;
}
.page a:hover{
    background-color: aqua;
    color:red;
    font-size: 30px;
    border-radius: 10px;
}
/* Phần nội dung <p> trong id'click' sẽ bị ẩn đi do bị khai báo "display: none;" */
#click p{
    background-color: rgb(226, 83, 0);
    color: rgb(0, 162, 211) ;
    font-size: larger;
    padding:10px;
    display: none;
}
/* Phần nội dung <p> trong id 'click' sẽ HIỆN lên khi rê chuột đến nội dung của id'click'= Click here do "display:none;" đổi thành "display:block;"*/
#click:hover p{
    display: block;
}
/* Ví dụ về phần tử giả => đối tượng::phần tử muốn truy cập => Vd: 
   h1::first-letter => Chữ đầu tiên trong <h1>*/
h1::first-letter{color:aqua;font-size:2em;font-style: italic;}
p::first-line{color:rgb(255, 0, 0);background-color: cornflowerblue; font-size: larger;} /* Chỉ dòng đầu tiên của <p> không quan trọng độ dài của trang, miễn là dòng đầu tiên */
p::selection{background-color: rgb(4, 54, 4);color:rgb(38, 230, 0)} /* Chỉ vùng được chọn của <p> bị ảnh hưởng */
 
#list li::before{content: "🔢";}
/*  
phía trước mọi phần tử <li> trong id"list" đều được thêm kí tự 🔢 
Cách mở kí tự bấm tổ hợp "Window" + ";"
*/
#o1::after{content:"😀"}
#o2::after{content:"😊"}
#o3::after{content:"😂"}
#o4::after{content:"😍"}
#o5::after{content:"😒"}

#list li::marker{content: "✕";color:blueviolet;} /*tô màu kí tự chỉ áp dụng với symbol và kí tự sẽ ở đầu hàng*/
