/*
 Cách tạo thanh dấu trang
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Product</a></li>
            <li><a href="">Contact</a></li>
        <ul>
    <nav>
              
*/
header h1{
    text-align: center;
}
body{
    margin:0;
}
nav ul{
    background-color: aqua;
    list-style-type: none;
    font-size: large;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
nav a{
    text-decoration: none;
    display: block;
    color: brown;
    padding: 15px;
    text-align: center;
}
nav a:hover{
    background-color: aquamarine;
}
nav li{
    float: left;
}